html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins';
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header & Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 3.5em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
    font-size: 1.6rem;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(152, 152, 152);
    bottom: -6px;
    transition: width .3s;
}